version: '3'
services:
  auth-service:
    container_name: auth-service
    build:
      context: ./Authentification-MicroService
      dockerfile: Dockerfile
    ports:
      - "9006:9006"
    networks:
      - pi-network
    depends_on:
      - eureka-server
      - gateway

  accompagnementpfe-service:
    container_name: accompagnementpfe-service
    build:
      context: ./AccompagnementPFEMicroService
      dockerfile: Dockerfile
    ports:
      - "9093:9093"
    networks:
      - pi-network
    depends_on:
      - eureka-server
      - gateway

  event-service:
    container_name: event-service
    build:
      context: ./nomPrenomClasseExamen
      dockerfile: Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/eventtopiccccc?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
    ports:
      - "8088:8088"
    networks:
      - pi-network
    depends_on:
      - eureka-server
      - gateway
      - mysql


  microserviceevaluation:
    image: myorg/microserviceevaluation:1.0
    container_name: microserviceevaluation
    build: ./MicroserviceEvaluation
    ports:
      - "8095:8095"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/microdb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
    depends_on:
      - mysql
      - eureka-server
    networks:
      - pi-network

  formationms:
    image: myorg/formationms:1.0
    container_name: formationms
    build: ./FormationMS
    ports:
      - "8060:8060"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/FormationDB?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
    depends_on:
      - mysql
      - eureka-server
    networks:
      - pi-network

  ressource-service:
    container_name: resource-service
    build:
      context: ./RessourceMicroService
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    networks:
      - pi-network
    depends_on:
      - eureka-server
      - gateway
      - mysql

  mysql:
      container_name: mysql
      image: mysql:8.0
      volumes:
        - mysql_data:/var/lib/mysql
        - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: codingFactory
      networks:
        - pi-network
      ports:
        - "3306:3306"


  eureka-server:
    container_name: eureka-server
    build:
      context: ./EurekaServer
      dockerfile: Dockerfile
    ports:
      - "8761:8761"
    networks:
      - pi-network

  gateway:
    container_name: gateway
    build:
      context: ./Gateway
      dockerfile: Dockerfile
    ports:
      - "8089:8089"
    networks:
      - pi-network
    depends_on:
      - eureka-server

networks:
  pi-network:
    driver: bridge

volumes:
  mysql_data:
    driver: local
